.dishesList{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  width: 100%;
  justify-content:space-around;
  padding: 40px 0;
}
.dishCard{
  width: 25%;
  text-align:center;
  background-color:rgb(231, 231, 231);
  border-radius:20px;
  padding:15px;
}
.dishCard .photo{
  width:100%;
}
.dishCard .photo img{
  height: 130px;
}
.dishCard div:last-child{
  align-items:center;
}
.dishCard div:last-child button{
    padding: 15px 30px;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}
.dishCard div:last-child button:hover {
    background-color: darkslategray;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 14px 58px 0px;
    transform: translateY(-2px);
    color: #f0f0f0;
}